@use 'src/styles/colors'


.container
  width: 100%
  padding: 7px 13px
  height: 110px
  background: colors.$primary
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center