@use '../../styles/colors'
@use '../../styles/media'


.container
  width: 100%
  max-width: 90vh

.wrapper
  display: flex
  flex-direction: column

.image_container
  max-height: 80vh
  height: calc((100vw - 2rem) * .7)
  width: 100%

.content
  margin-top: 1.2rem
  width: 100%
  display: flex
  flex-direction: column
  align-items: flex-start
  z-index: 1

.title, .date, .before_title
  font-family: "BigNoodle", sans-serif
  text-transform: uppercase

.before_title
  font-size: 1.2rem
  margin-bottom: .6rem
  letter-spacing: .05rem

.title
  margin: 0
  font-size: 1.8rem
  line-height: 2.2rem
  font-weight: 500

.date
  font-size: 1rem
  letter-spacing: .12rem
  margin-top: .75rem

.subTitle_container
  line-height: 1.35rem
  font-size: .9rem
  margin-top: .85rem

.btn_container
  margin-top: 1.3rem

.black
  & .content
    color: #0a0a0a
  & .subTitle_container
    color: #757575

.white
  & .content
    color: #f5f5f5
  & .subTitle_container
    color: #b5b5b5

.small
  & .content
    padding: 0 .75rem
    margin-top: -3.2rem
  & .title
    font-size: 1.65rem
    line-height: 1.7rem
  & .subTitle_container
    line-height: 1.2rem

.extraBig
  max-width: 90vw
  width: 100% !important
  & .wrapper
    width: 100%
    flex-direction: row
    justify-content: space-between
  & .content
    width: 37%
  & .image_container
    width: 60%
  & .before_title
    font-size: 1.25rem
  & .title
    font-size: 2.1rem
    line-height: 100%
  & .date
    margin-top: .8rem
    font-size: 1.3rem
  & .subTitle_container
    margin-top: .8rem
    line-height: 110%
    font-size: 1.18rem


@media (min-width: media.$phone)
  .image_container
    max-height: 70vh

@media (min-width: media.$laptop)
  .image_container
    max-height: 33vw

  .small
    & .content
      margin-top: -5rem
      padding: 0 1.3rem
    & .before_title
      font-size: 1.15rem
    & .title
      font-size: 2rem
      line-height: 100%
    & .date
      margin-top: .7rem
      font-size: 1.2rem
    & .subTitle_container
      margin-top: .7rem
      line-height: 110%
      font-size: 1.08rem