@use '../../styles/colors'
@use '../../styles/media'


.container
  width: 100%
  max-width: 90vh

.wrapper
  display: flex
  flex-direction: column

.image_container
  max-height: 80vh
  height: calc((100vw - 2rem) * .7)
  width: 100%

.content
  margin-top: 1.2rem
  width: 100%
  display: flex
  flex-direction: column
  align-items: flex-start
  z-index: 1

.title, .date, .before_title
  font-family: "BigNoodle", sans-serif
  text-transform: uppercase

.before_title
  font-size: 1.2rem
  margin-bottom: .6rem
  letter-spacing: .05rem

.title
  margin: 0
  font-size: 1.8rem
  line-height: 2.2rem
  font-weight: 500

.date
  font-size: 1rem
  letter-spacing: .12rem
  margin-top: .75rem

.subTitle_container
  line-height: 1.35rem
  font-size: .9rem
  margin-top: .85rem

.btn_container
  margin-top: 1.3rem

.black
  & .content
    color: #0a0a0a
  & .subTitle_container
    color: #757575

.white
  & .content
    color: #f5f5f5
  & .subTitle_container
    color: #b5b5b5

.small
  & .content
    padding: 0 .75rem
    margin-top: -3.2rem
  & .title
    font-size: 1.65rem
    line-height: 1.7rem
  & .subTitle_container
    line-height: 1.2rem

.extraBig
  max-width: 90vw
  width: 100% !important
  & .wrapper
    width: 100%
    flex-direction: row
    justify-content: space-between
  & .content
    width: 37%
    margin-top: 3rem
  & .image_container
    width: 60%
    max-height: 47vh
  & .before_title
    font-size: 1.25rem
  & .title
    font-size: 2.1rem
    line-height: 100%
  & .date
    margin-top: .8rem
    font-size: 1.3rem
  & .subTitle_container
    margin-top: .8rem
    line-height: 110%
    font-size: 1.18rem


@media (min-width: media.$phone)
  .image_container
    max-height: 70vh

@media (min-width: media.$tablet)
    .content
      padding: 0 1.45rem !important
    .before_title
      font-size: 1.23rem!important
    .title
      font-size: 2.4rem !important
      line-height: 110% !important
    .date
      margin-top: .7rem !important
      font-size: 1.5rem !important
    .subTitle_container
      margin-top: .7rem !important
      line-height: 110% !important
      font-size: 1.4rem !important

    .btn_container
      margin-top: 1.6rem

@media (min-width: media.$laptop)
  .image_container
    max-height: 33vw

  .small .content
    margin-top: -5rem

  .content
    padding: 0 1.3rem !important
  .before_title
    font-size: 1.15rem !important
  .title
    font-size: 2rem !important
    line-height: 100% !important
  .date
    margin-top: .7rem !important
    font-size: 1.2rem !important
  .subTitle_container
    margin-top: .7rem !important
    line-height: 110% !important
    font-size: 1.08rem !important
      
@media (min-width: 1150px)
  .image_container
    max-height: 30vh

  .content
    padding: 0 .9rem !important

  .title
    font-size: 1.9rem !important
  .before_title
    font-size: 1.15rem !important
  .date
    font-size: 1.25rem !important
  .subTitle_container
    font-size: 1.07rem !important
  .text
    font-size: .97rem !important

@media (min-width: media.$mediumLaptop)
  .image_container
    max-height: 30vh

  .title
    font-size: 2.1rem !important
  .before_title
    font-size: 1.25rem !important
  .date
    font-size: 1.3rem !important
  .subTitle_container
    font-size: 1.18rem !important
  .text
    font-size: 1.03rem !important