// Fonts
@font-face
  font-family: 'Roboto Regular'
  //src: url("Roboto-Regular.woff2") format('woff2')

@font-face
  font-family: 'BigNoodle'
  src: url("../public/fonts/BigNoodle.woff2") format('woff2')

//@font-face
//  font-family: 'Helvetica Light'
//  src: url("../assets/fonts/HelveticaNowDisplay-Light.ttf")
//
//@font-face
//  font-family: 'Helvetica Regular'
//  src: url("../assets/fonts/HelveticaNowDisplay-Regular.ttf")
//
//@font-face
//  font-family: 'Helvetica Medium'
//  src: url("../assets/fonts/HelveticaNowDisplay-Medium.ttf")
//
//@font-face
//  font-family: 'Helvetica Bold'
//  src: url("../assets/fonts/HelveticaNowDisplay-Bold.ttf")
//
//@font-face
//  font-family: 'Helvetica Extra Bold'
//  src: url("../assets/fonts/HelveticaNowDisplay-ExtraBold.ttf")
//
//@font-face
//  font-family: 'Helvetica ExtBlk'
//  src: url("../assets/fonts/HelveticaNowDisplay-ExtBlk.ttf")